@model IEnumerable<Room>



@if (Model.Count() > 0)
{
    <div class="row justify-content-center">
    @foreach (var obj in Model)
    {
        String imageString = "data:"+obj.Image.ContentType + ";base64," + Convert.ToBase64String(obj.Image.ByteImage, 0, obj.Image.ByteImage.Length);
        String roomType = obj.Type==0?"Нормальная": obj.Type == 1 ? "Улучшенная":"Элитная";

        <div class="col-4">
            <div class="card ">
                <img alt=@(obj.Image.SourceFileName) src=@imageString class="card-img-top" height="300px" />
                <div class="card-body">
                    <h5 class="card-title">
                        Количество мест: @(obj.SpotNumber)
                    </h5>
                    <h5 class="card-title">
                        Тип комнаты: @roomType
                    </h5>
                    @if (@obj.Description == null)
                    {
                        <p class="card-text">@(obj.Description)</p>
                    }
                    else
                    {
                        <p class="card-text">@obj.Description</p>
                    }
                    <a asp-controller="Booking" asp-action="Index" asp-route-Id="@obj.Id" class="btn btn-primary">Забронировать</a>
                </div>
            </div>
        </div>

    }
    </div>
    }
    else
    {
    <h1>Комнаты не добавлены</h1>
    }